html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #1b2224;
  margin: 0;
  line-height: 1.43;
}

.container {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar {
  height: 100%;
  min-width: 200px;
  color: #596468;
}

.sidebar-icon {
  margin-left: ;
  margin-right: .5em;
}

.sidebar-item {
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 16px;
}

.sidebar-item:hover {
  background-color: white;
  color: black;
  border-left: 5px solid #ce5135;
}

.sidebar-item:hover .sidebar-notification {
  background-color: #ce5135;
  color: white;
  border: none;
}

.sidebar-divider {
  padding-left: .8em;
  padding-bottom: 1em;
  padding-top: 1.5em;
  margin-top: 1em;
  border-top: 1px solid #596468;
}

.sidebar-notification {
  margin-left: 3.75em;
  border: 1px solid #596468;
  border-radius: 50%;
  padding: 5px 12px 5px 12px;
}



.compose-btn {
  display: flex;
  background-color: #ce5135;
  border: none;
  border-radius: 3px;
  padding: 0.8em 3em;
  color: #fff;
  margin: 3.5em auto;
  margin-bottom: 2.5em;
  font-size: 1.05em;
  font-weight: lighter;
  cursor: pointer;
}

.email-panel {
  padding: 3em 4em;
  flex-grow: 1;
  max-width: 600px;
  background-color: #fff;
}

.email-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-header {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
  color: #444;
}

.email-list {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e9eff0;
}

.email-item {
  border-bottom: 1px solid #e9eff0;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.meta-data {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  opacity: 0.5;
}

